*.tar.gz
*.zip
*.csv
document_parses/
storage/
storage2/
.ipynb_checkpoints/
.DS_Store
changelog
/Raw/
/huggingface_cache_volume/
/text_data_chunks/
frontend/node_modules/*
/papers_txt/
